<header class="container">
  <ul>
    <li>
      <a routerLink="/">index</a>
    </li>
    <li>
      <a routerLink="/login">login</a>
    </li>
    <li ><!--*ngIf="bLoggedIn"-->
      backend
      <ul>
        <li>
          <a routerLink="backend" >Backend Index</a>
        </li>
        <li>
          <a routerLink="backend/saison">Saison Overview</a>
        </li>

      </ul>
    </li>
  </ul>
  <a (click)="logout()">Logout</a>
</header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

